@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;800&family=Open+Sans&display=swap');

$dark-primary : hsl(245, 47%, 48%);
$medium-primary : hsl(245, 41%, 58%);
$light-primary : hsl(245, 41%, 58%);
$secondary : hsl(0, 0%, 44%);
$dark-secondary : hsl(0, 0%, 17%);
$tertiary : hsl(266, 60%, 30%);
$background-color : hsl(30, 5%, 91%);
$background-white : hsl(0, 0%, 100%);

$transparent-dark-primary : hsl(245, 47%, 48%, 0.75);   
$transparent-medium-primary : hsl(245, 41%, 58%, 0.75);
$transparent-light-primary : hsl(245, 41%, 58%, 0.75);
$transparent-secondary : hsl(0, 0%, 44%, 0.75);
$transparent-dark-secondary : hsl(0, 0%, 17%, 0.75);
$transparent-tertiary : hsl(266, 60%, 30%, 0.75);
$transparent-background-color : hsl(30, 5%, 91%, 0.75);
$transparent-background-white : hsl(0, 0%, 100%, 0.75);

$primary-font : 'Lexend';
$secondary-font : 'Open Sans';

$blob-size: 500px;
$blob-multiplier: 1.7;

$transition-time: 0.3s;

:root {
    //small devices and phones
    --small-space : 12px;
    --medium-space : 14px;
    --big-space : 16px;
    --giant-space : 64px;
    --section-width : 90;

    //most tablets
    @media screen and (min-width:768px){
        --small-space : 10px;
        --medium-space : 12px;
        --big-space : 25px;
        --giant-space : 61px;
        --section-width : 90;
    }

    //smaller desktop
    @media screen and (min-width:992px){
        --small-space : 13px;
        --medium-space : 17px;
        --big-space : 33px;
        --giant-space : 80px;
        --section-width : 90;
    }
    
    //larges devices
    @media screen and (min-width:1200px){
        --small-space : 16px;
        --medium-space : 20px;
        --big-space : 40px;
        --giant-space : 96px;
        --section-width : 75;
    }
}

::-webkit-scrollbar {
    display: none;
}

$small-space : var(--small-space);
$medium-space : var(--medium-space);
$big-space : var(--big-space);
$giant-space : var(--giant-space);

$section-width : var(--section-width);

@mixin cardBackground($padding, $corner, $color) {
    position: relative;
    background-color: $color;
    padding: $padding;
    border-radius: $corner;
    box-shadow: $small-space $small-space $small-space hsla(0, 0%, 0%, 0.15);
    backdrop-filter: blur(1px);
    width: 100%;
}

@mixin textSetup($family, $size, $color, $weight, $space) {
    font-family: $family;
    color: $color;
    font-weight: $weight;
    font-size: $size;
    margin: 0 auto $space auto;
}


body {
    background-color: $background-color;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: max-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    place-items: center;
    overflow-x: hidden;

    & > .section:first-of-type:not(.section--hero){
        margin-top: $giant-space;
    }
}

/*-----------------------Hider style-----------------------*/
@keyframes hider {
    0%
    {
        background-color: $dark-primary;
        box-shadow: 0 $medium-space $medium-space hsla(0, 0%, 0%, 0.15);
    }
    25%
    {
        background-color: $background-color;
    }
    50%
    {
        background-color: $background-color;
    }
    50.0001% 
    {
        transform: translateY(0%);
        box-shadow: 0 $medium-space $medium-space hsla(0, 0%, 0%, 0.15);
    }
    99%
    {
        background-color: $background-color;
    }
    100%
    {
        transform : translateY(-100%);
        box-shadow: none;
    }
}

@keyframes hider-image {
    0%
    {
        filter: opacity(0);
    }
    25%
    {
        filter: opacity(0);
    }
    25.0001% 
    {
        filter: opacity(0);
    }
    50%
    {
        filter: opacity(1);
    }
    100%
    {
        filter: opacity(1);
    }
}

.hider {
    position: fixed;
    z-index: 100;
    top: 0;
    height: 100vh;
    width: 100vw;
    border-bottom: $small-space $dark-primary solid;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: hider;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    box-shadow: 0 $medium-space $medium-space hsla(0, 0%, 0%, 0.15);

    &__image {
        position: relative;
        height: $giant-space;
        width: auto;
        animation-name: hider-image;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        box-sizing: border-box;
        animation-timing-function: linear;
    }
}

/*-----------------------Header style-----------------------*/

.header {
    position: relative;
    background-color: $background-white;
    padding: $small-space 0 $small-space 0 ;
    box-shadow: 0px $small-space $small-space 0px hsla(0, 0%, 0%, 0.15);
    z-index: 1;
    margin: 0;  
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    
    &__pictureContainer {
        &-picture > img {
            height: $big-space;

            @media screen and (min-width: 481px) and (max-width:768px){
                height: $giant-space;
            }
        }
    }

    &__title {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: $small-space;
        color: $dark-primary;
        margin-top: $small-space;
        margin-bottom: 0;
    }

    &__nav {
        position: relative;
        width:100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        margin-top: $small-space;
        max-width: 1200px;
        
        &-list {
            position: relative;
            @include textSetup($secondary-font, $small-space, $light-primary, 0, $small-space);
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 75%;

            &-element {
                width: auto;
                &-anchor {
                    text-decoration: none;
                    color: $light-primary;
                    transition: $transition-time;

                    &:hover {
                        text-decoration: none;
                        color: $dark-primary;
                    }

                    &--choosed {
                        color: $secondary;

                        &:hover {
                            color: $secondary;
                        }
                    }

                    &--button {
                        padding: calc($small-space / 2) calc($small-space / 2) calc($small-space / 2) calc($small-space / 2);
                        border-radius: $small-space;
                        font-family: $primary-font;
                        color: $background-white;
                        background-color: $secondary;
                        transition: $transition-time;

                        &:hover {
                            color: $background-white;
                            background-color: $medium-primary;
                        }
                        
                    }
                }
            }
        }
    }

    @media screen and (max-width: 480px){
        flex-direction: row;
        position: sticky;
        top: 0;

        &__title {
            display: none;
        }

        &__pictureContainer {
            margin-left: $medium-space;
            
        }

        &__nav {
            margin-top: 0;
            justify-content: flex-end;
            margin-right: $medium-space;

            &-list {
                width: 80%;
                justify-content: space-between;
            }
        }

        &__nav-list > * {
            
            &:nth-child(2) > a{
                content: "bob";
            }
        }
    }
}

.small-header {
    position: fixed;
    background-color: $background-white;
    padding: $small-space 0 $small-space 0 ;
    box-shadow: 0px $small-space $small-space 0px hsla(0, 0%, 0%, 0.15);
    z-index: 1;
    margin: 0;  
    width: 100vw;    
    padding-left: 12.5%;
    padding-right: 12.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    box-sizing: border-box;
    transform: translateY(-100%);

    transition: .5s;

    @media screen and (max-width: 480px){
        display: none;
    }
    
    &__pictureContainer {
        &-picture > img {
            height: $medium-space;
        }
    }

    &__title {
        font-family: $secondary-font;
        font-weight: 400;
        font-size: $small-space;
        color: $dark-primary;
        margin-top: $small-space;
        margin-bottom: 0;
    }

    &__nav {
        position: relative;
        width:100%;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: flex-end;
        
        &-list {
            position: relative;
            @include textSetup($secondary-font, $small-space, $light-primary, 0, $small-space);
            list-style: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0;
            width: 75%;

            &-element {
                width: auto;
                &-anchor {
                    text-decoration: none;
                    color: $light-primary;
                    transition: $transition-time;

                    &:hover {
                        text-decoration: none;
                        color: $dark-primary;
                    }

                    &--choosed {
                        color: $secondary;

                        &:hover {
                            color: $secondary;
                        }
                    }

                    &--button {
                        padding: calc($small-space / 2) calc($small-space / 2) calc($small-space / 2) calc($small-space / 2);
                        border-radius: $small-space;
                        font-family: $primary-font;
                        color: $background-white;
                        background-color: $secondary;
                        transition: $transition-time;

                        &:hover {
                            color: $background-white;
                            background-color: $medium-primary;
                        }
                        
                    }
                }
            }
        }
    }
}

/*-----------------------Section style-----------------------*/
@keyframes showAnimation {
    0%
    {
        transform: scale(.7);
        opacity: 0;
    }
    
    100%
    {
        transform: scale(1);
        opacity: 1;
    }
}


.section {
    position: relative;
    width: calc($section-width * 1%);
    max-width: 1200px;
    margin-bottom: $giant-space;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &--hero {
        width: 100%;
        max-width: 100%;
        background-color: $tertiary;
        display: flex;
        justify-content: center !important;
        background-image: url(../assets/patern1.jpg);
        padding: $big-space 0 $big-space 0;

        & > .section{
            &__card {
                background-color: transparent !important;
                max-width: 1200px;
                box-shadow: none;
                width: calc($section-width * 1%);
                backdrop-filter: none;
                opacity: 1;
            }
        }
    }

    &--secondary {
        width: 100%;
        max-width: 100%;
        background-color: $dark-secondary;
        margin-bottom: 0;
        display: flex;
        justify-content: center !important;
        background-image: url(../assets/patern\ wave\ 7.svg);
        padding: $big-space 0 $big-space 0;

        & > .section{
            &__card {
                background-color: transparent !important;
                max-width: 1200px;
                box-shadow: none;
                width: calc($section-width * 1%);
                backdrop-filter: none;
                opacity: 0;
            }
        }
    }

    &__card {
        position: relative;
        @include cardBackground($medium-space, $small-space , $transparent-background-white);
        opacity: 0;
        &:is(.show){
            animation-name: showAnimation;
            animation-duration: 1s;
            animation-fill-mode: forwards;
            animation-timing-function: ease-out;
        }

        &--secondary {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;

            &::after {
                opacity: 0;
                right: 0;
                top: 0;
                transform: translate(-50%, -100%) rotate(90deg);
                @include textSetup($primary-font, $big-space, $dark-primary, 400, $medium-space);  
                content: '€';
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                width: $big-space;
                height: $big-space;
                padding: $medium-space;
                outline: calc($small-space/4) solid $dark-primary;
                outline-offset: calc(-1 * ($small-space/2));
                border-radius: 100%;
                background-color: $tertiary;
                transition: $transition-time;
                transition-delay: 1s;
            }

            &:is(.show)::after{
                opacity: 1;
                transform: translate(-50%, -100%)  rotate(0deg);
            }
        }

        &--small {
            @media (max-width:768px){
                width: 100%;
            }
            width: calc((50% - $small-space /2) - $medium-space * 2);
        }

        &--bottomMargin {
            margin-bottom: $small-space
        }

        &--hero {
            & > *:not(:last-child) {
                margin-bottom: $medium-space;
            }
        }

        &-button {
            @include textSetup($secondary-font, $small-space, $background-color, 0, $small-space);
            display: inline-block;
            position: relative;
            background-color: $secondary;
            padding: $small-space;
            border-radius: $small-space;
            text-decoration: none;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            transition: $transition-time;
            
            &:hover {
                background-color: $dark-secondary;
            }
        }

        &-image {
            position: relative;
            border: solid calc($small-space/4) $dark-primary;
            border-radius: calc($small-space/4);
            padding: 0;
            margin: 0;
            width: 100%;
            height: auto;
            box-sizing:border-box;
        }

        &-video {
            position: relative;
            padding: 0;
            margin: 0;
            width: 100%;
            border: calc($small-space/4) solid $light-primary;
            border-radius: calc($small-space/4);
            box-sizing: border-box;
        }

        &-title {
            @include textSetup($primary-font, $big-space, $dark-primary, 400, $medium-space);  
            text-decoration: underline;

            &--hero {
                color: $background-color;
                text-decoration: underline;
            }

            &--secondary {
                color: $background-color;
                text-decoration: underline $background-color;
            }
        }

        &-subTitle {
            @include textSetup($secondary-font, $small-space, $medium-primary, 0, $small-space);
            text-decoration: underline;

            &--hero {
                color: $background-color;
            }

            &--secondary {
                color: $background-color;
            }
        }

        &-subSubTitle {
            @include textSetup($secondary-font, $small-space, $medium-primary, 0, $small-space);
            text-decoration: underline;
            margin-left: $small-space;

            &--hero {
                color: $background-color;
            }

            &--secondary {
                color: $background-color;
            }
        }

        &-paragraph {
            @include textSetup($secondary-font, $small-space, $light-primary, 0, $small-space);
            margin-left: $big-space;

            & > b {
                color: $medium-primary;
            }

            & > a {
                color: $light-primary;
                text-decoration: none;
                font-weight: bolder;
            }

            &--hero {
                color: $background-color;

                & > b {
                    color: $background-color;
                }

                & > a {
                    color: $background-color;
                    text-decoration: none;
                    font-weight: bolder;
                }
            }
        }

        &-conclusion {
            @include textSetup($secondary-font, $small-space, $dark-primary, 0, 0);
            transition: $transition-time;
            
            &--wide {
                color: $light-primary;
                &:hover {
                    color: $background-color;
                }
            }
        }

        &-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;
            margin: 0 auto $small-space auto;


            &--horizontal {
                display: flex;
                flex-direction: row;
                align-items: baseline;
                justify-content: space-around   ;

                & > li {
                    width:fit-content;
                    min-width: auto
                }
            }

            &--hero {
                & > li {
                    color: $background-color !important;
                    &:nth-child(1) {
                        list-style: "📈";
                    }
                    &:nth-child(2) {
                        list-style: "⏱️";
                    }
                    &:nth-child(3) {
                        list-style: "⬆️";
                    }
                    &:nth-child(4) {
                        list-style: "🙌";
                    }
                }
            }

            &-element {
                @include textSetup($secondary-font, $small-space, $dark-secondary, 300, 0);
                width: 50%;
                min-width: 256px;
                list-style: "\2714";
                list-style-position: outside;
                overflow-wrap: break-word;
                margin: 0 0 $small-space 0;
                padding-left: $small-space;
                padding-right: $medium-space;
                box-sizing: border-box;

                &:has(.section__card-list-title) > * > &{
                    list-style: "\2022";
                }
            }

            & > li:last-child {
                margin: 0
            }

            &-title {
                @include textSetup($secondary-font, $small-space, $medium-primary, bold, $small-space);
            }
        }
        
        &-formule {
            text-align: center;
            @include textSetup($secondary-font, $small-space, $dark-secondary, 400, $small-space);
            width: 100%;
            word-break: keep-all;
            & > b {
                @include textSetup($primary-font, 200%, $dark-secondary, bold, $small-space);
            }
            & > b::after {
                content: "€";
            }
            
            & > sub {
                color: $transparent-secondary;
                padding-bottom: $small-space;
                font-size: $small-space;
                font-weight: 400;
            }
        }

        &-grid {
            display: grid;
            grid-template-columns: calc(50% - $small-space /2) calc(50% - $small-space /2);
            grid-template-rows: calc(50% - $small-space /2) calc(50% - $small-space /2);
            grid-column-gap: $small-space ;
            grid-row-gap: $small-space ;
            width: 100%;
            height: calc(100% - $big-space - $medium-space - $small-space);


            & > * {
                position: relative;
                transition: $transition-time;
            }

            &-card {
                @include cardBackground($small-space, $small-space, $dark-secondary);
                width: calc(100% - $small-space * 2);
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: left;
                justify-content: center;
                align-items: center;

                &--wide {
                    grid-column-start: 1;
                    grid-column-end: 3;
                }

                &-price{
                    @include textSetup($secondary-font, $small-space, $background-color, 400, $small-space);
                    width: 100%;
                    word-break: keep-all;
                    & > b {
                        @include textSetup($primary-font, 200%, $background-color, bold, $small-space);
                    }
                    & > b::after {
                        content: "€";
                    }
                }

                &-title {
                    @include textSetup($primary-font, $medium-space, $background-color, 400, $small-space);
                    margin: 0;
                }

                &--hover:hover {
                    background-color: $tertiary;
                }

                &--clicked {
                    background-color: $transparent-secondary;
                }
            } 
        }

        &-table {
            position: relative;
            border: 0;
            width: 100%;
            &-row {
                height: 100%;
                width: 100%;
                display: flex;
                flex-wrap: nowrap;
                flex-direction: row;
                &:not(:last-child) {
                    position: relative;
                    &::after {
                        content: "";
                        z-index: 1;
                        position: absolute;
                        left: 0;
                        top: calc(var(--row-height));
                        width: 100%;
                        height: calc($small-space / 4);
                        border-radius: calc($small-space / 8);
                        background-color: $transparent-secondary;
                    }
                }
            }

            &-data {
                display: inline-block;
                width: 0px;
                flex-grow: 1;
                height: 100%;
                padding: $small-space;
                position: relative;
                box-sizing: border-box;
                &:not(:first-child) {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        width: calc($small-space / 4);
                        border-radius: calc($small-space / 8);
                        height: calc(var(--row-height) - $small-space);
                        background-color: $transparent-secondary;
                        transform: translate(calc(-1 * $small-space), calc($small-space / 2));
                    }
                }

                &-paragraph {
                    @include textSetup($secondary-font, $small-space , $light-primary, 300, 0);
                    display: flex;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    z-index: 1;
                    max-width: 100%;
                }

                &--overline {
                    box-sizing: border-box;
                    background-color: $transparent-light-primary;
                    color: $background-color;
                    padding: $small-space;
                    border-radius: calc($small-space / 2);
                    padding: calc($small-space/2);
                    margin: calc($small-space/2);
                    
                    & > * {
                        color: $background-color;
                    }
                }
            }
        }
        
        & > *:not(:last-child) {
            margin-bottom: $medium-space;
        }

        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

/*-----------------------Footer style-----------------------*/

div:has(.sticky) {
    width: 100vw;
}

.sticky {
    position: sticky;
    bottom: 0px;
    width: 100%;
    height: $big-space;
    background-color: $background-white;
    transition: 3s ease-out;
    @include textSetup($secondary-font, $small-space , $transparent-medium-primary, 300, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    
    &__paragraph {
        display: inline-block;

        & > .spacer {
            margin-left: $small-space;
            margin-right: $small-space;
        }
    }

    &__check-box {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;


        & > * {
            padding: 0 calc($small-space/2) 0 calc($small-space/2);
            background-color: $transparent-light-primary;
            color: $background-white;
            transition: $transition-time;
            cursor: pointer;
            border-radius: calc($small-space/4);
            margin-left: $small-space;

            & > * {
                display: inline-block;
                padding: 0;
                margin: 0;
            }

            & > input[type=checkbox] {
                display: none;
            }

            &:has(:checked) {
                background-color: $transparent-secondary;
            }

        }
    }

    &__number-input {
        margin: 0;
        padding: 0;
        border-style: none;
        background-color: $transparent-light-primary;
        @include textSetup($secondary-font, $small-space , $background-color, 300, 0);
        margin-left: 0;
        margin-right: 0;
        text-align: end;
        border-radius: calc($small-space/4);
    }
}

.footer {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/patern1.jpg);
    padding: $small-space;
    box-shadow: 0px $small-space $small-space 0px hsla(0, 0%, 0%, 0.15  ) inset;
    width: 100%;

    & > * {
        max-width: 1200px;
    }

    &__pictureContainer {
        position: relative;
        margin-bottom: $medium-space;
        display: block;
        justify-content: start;
        width: 100%;

        &-picture > img {
            height: $big-space;
        }
    }

    &__contactList {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        width: $section-width;
        padding: 0;
        margin: 0 auto $small-space auto;
        justify-content: center;

        &-element {
            overflow-wrap: break-word;
            display: flex;

            &:not(:last-child)::after {
                content: '\2022';
                @include textSetup($secondary-font, $small-space, $background-color, 300, 0);
                margin-left: $small-space;
                margin-right: $small-space;
                display: var(--after-display);
            }

            &-image {
                position: relative;
                width: $small-space;
                height: $small-space;
                top: 50%;
                transform: translateY(-50%);
                margin-right: $small-space;
            }

            &-paragraph {
                @include textSetup($secondary-font, $small-space, $background-color, 300, 0);

                & > a {
                    text-decoration: none;
                    color: $background-color;
                }
            }
        }
    }

    &__legal {
        &-list {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            width: $section-width;
            padding: 0;
            margin: 0 auto $small-space auto;
            justify-content: center;
        
            &-element {
                overflow-wrap: break-word;
                display: flex;
                &-anchor {
                    text-decoration: none;
                    overflow-wrap: break-word;
                    @include textSetup($secondary-font, $small-space, $light-primary, 300, 0);
                    transition: $transition-time;

                    &:hover {
                        color: $background-color;
                    }
                }

                &:not(:last-child)::after {
                    content: '\2022';
                    @include textSetup($secondary-font, $small-space, $light-primary, 300, 0);
                    margin-left: $small-space;
                    margin-right: $small-space;
                    display: var(--after-display);
                }
            }
        }
        
        &-mentions {
            overflow-wrap: break-word;
            @include textSetup($secondary-font, $small-space, $light-primary, 300, 0);
            margin: 0;
        }
    }
}